<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hapex_cartcleanup>
            <general>
                <enable>1</enable>
                <cron_schedule>0 * * * *</cron_schedule>
            </general>
        </hapex_cartcleanup>
    </default>
</config>